--extra-index-url https://download.pytorch.org/whl/cpu
Flask
requests
pymongo
python-dotenv
markdown
pypdf
sentence-transformers
faster-whisper
numpy
gunicorn
torch==2.8.0+cpu
torchaudio==2.8.0+cpu
groq
